@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
.sameline{
    
    display: flex;
    justify-content: space-between;
    
}
.selection:hover{
    font-size: 25pt;
    color: darkcyan;
    transition: .2s;
    font-weight: bolder;
}
.selection{
    font-family: 'Varela Round';
}
.smallselection:hover{
    font-size:15pt;
    color: darkcyan;
    transition: .2s;
}
.instructions{
    font-family: 'Varela Round';
}

.smallselection{
    font-family: 'Varela Round';
}
.header{
    font-family: 'Varela Round';
}
.number{
    font-family: 'Varela Round';
}

.number1{
    font-family: 'Varela Round';
    font-size:xx-large;
    font-weight: bolder;
}

.logoImg{
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.largeSelection:hover{
    font-size: 35pt;
    color: darkcyan;
    transition: .2s;
}
.largeSelection{
    font-family: 'Varela Round';
}
.samelineSelection{
     
    display: flex;
    justify-content: space-between;
    
}

.chooseFile{
    
    
    display:none;
    
}

.nwvbuglogo{
    height:20vh;
    width:auto;
    margin-top:-2%;
  }